@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  background: #f6f6f6;
}

.section-background {
  background-image: url("/assets/images/png/background.png");
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 100%;
  margin: auto;
  padding: 15px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f6f6f6;
}

.logo img {
  width: 50px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 30px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.navbar ul li .act {
  color: #00eeff;
}

.navbar ul li a:hover {
  color: #00eeff;
  transition: 0.2s;
}

.dark-light {
  width: 35px;
  cursor: pointer;
  border: none;
  background: #a9cfd2;
  padding: 2px;
  border-radius: 5px;
  margin: 0 30px;
}

.localization {
  margin-left: 30px;
  border: none;
  background: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.navbar ul {
  flex: 1;
  text-align: right;
}
